*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}


:root{ /*son variables globales que vamos a reutilizar con var()*/
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0,0,0,0.2);
}

html{
    font-size: 62.5%; /*10px/16px = 62.5% para trabajar con rems mas facilmente*/
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;

}


.header{
    position: fixed; /*Fija el header en la parte de arriba a peasar del scrolling*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex; /*Flexbox para alinear los elementos del header*/
    align-items: center;
    z-index: 100;
    transition: .5s;

}

section {
    padding: 8rem 7%;
    min-height: 100vh;
}

.header.sticky {  /*Cuando se le añade la clase sticky al header (en el js)*/
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo{
    font-size: 2.5rem;
    color:var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;/*Empuja el logo a la izquierda y apretuja los demas a la derecha*/
}

.navbar a {  /*usa el . porque es una clase*/
    position: relative; /*Para poder posicionar el pseudo elemento absolute despues, o sino buscará al padre mas cercano, header*/
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;

}

.header.sticky .navbar a{
    color: var(--text-color);

}

.header.sticky .navbar a.active{
    color: var(--main-color);
}


.navbar a.active::before{
    content: '';
    position: absolute; /*Posicionado absoluto respecto al padre (donde quierea se mueve)(.navbar a)*/
    left: 0;
    bottom: -6px;
    width: 100%; /*Ancho de la caja igual al del texto*/
    height: .2rem; /*Grosor de la caja, se vuelve linea*/
    background: var(--white-color);


}

.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: .7;
}

#darkMode-icon{ /*Icono de modo oscuro, es un ID*/
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
    

}

.header.sticky #darkMode-icon{
    color: var(--text-color);
    opacity: .9;
}

.home {
    margin-top: -134px;  /*Compensa el padding del header fijo*/
    margin-bottom: 0;
    
    position: relative; /*Esto hace que los absolutos dentro se posicionen respecto a home */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem; /* deja espacio arriba para el header fijo, top, left and rigth and bottom */ 
    min-height: 100vh;
    background: var(--bg-color);
    overflow: hidden;
    

}


.home .home-content {
    margin-bottom: -190px;
    max-width: 45rem;
    z-index: 10;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 1.5rem;


}

.home-content p{
    font-size: 1.6rem;
    line-height: 1.5;
}

.home-content .social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2 rem .5rem var(--main-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
    

}

.home-content .social-media div{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    
}

.home-content .social-media p{
    right: 0;
    align-items: center;
    justify-content: center;
    margin-left: .8rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.home-content .social-media a:hover{
    background-color:var(--main-color);
    color: var(--white-color);
}

.btn{
    display: inline-block;
    padding :1.2rem 2.8rem;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 1.7rem;
    border-radius: .9rem;
    box-shadow: 0 .5rem 1rem var(--shadow-color);
    cursor: pointer;
    transition: .3s ease;
    border: .2rem solid transparent;
    font-weight: 700;
    margin-left: 2.2rem;
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
}

.home .profession-container .profession-box{
    position:absolute; /*Para posicionarlo dentro del contenedor*/
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home .profession-box .profession{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;

}

.home .profession-box .profession:nth-child(1) i{
    margin-right: 15px;

}
.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4){
    padding-bottom: 20px;
}


.home .profession i{
    font-size: 3.8rem;

}

.home .profession h3{
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle{
    width: 560px;
    height: 560px;
    
    border: 3px solid var(--main-color);
    border-radius: 50%;

}

.home .profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}


.home-img img{
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 55%;
    pointer-events: none; 
    
}

span{
    color: var(--main-color);
}

.heading{
    font-size: 4.5rem;
    text-align: center;
}

/**/
.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    min-height: 100vh;
    padding: 8rem 7%;
    
    position: relative;
    overflow: hidden;
}

/* Añadimos una raya divisoria morada */
.about::after {
    content: "";
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 50%;
    width: 2px;
    background-color: var(--main-color);
    transform: translateX(-50%);
    opacity: 0.7;
}

/* Ambas mitades certificaciones y contenido */
.about-certifications,
.about-content {
    flex: 1;
    position: relative;
    z-index: 2;
    padding: 2rem;
}

/* Estilos iguales para ambas secciones */
.about-certifications h2,
.about-content h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    }

.about-certifications h2 span,
.about-content h2 span {
    color: var(--main-color); 
}

.about-certifications p,
.about-content p {
    font-size: 1.7rem;
    line-height: 1.6;
    color: #444;
    margin-bottom: 3rem;
}

/* Listas iguales */
.about-certifications ul,
.about-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 4rem;
}

.about-certifications ul li,
.about-content ul li {
    position: relative;
    font-size: 1.7rem;
    line-height: 1.6;
    color: #444;
    padding-left: 3.5rem;
    margin-bottom: 1.5rem;
    transition: 0.3s ease;
}

.about-certifications ul li::before,
.about-content ul li::before {
content: "✔";
position: absolute;
left: 0;
top: 0;
color: var(--main-color);
font-size: 2rem;
line-height: 1.6;
transition: transform 0.3s ease;
}

.about-certifications ul li:hover,
.about-content ul li:hover {
color: var(--main-color);
transform: translateX(5px);
}

.about-certifications ul li:hover::before,
.about-content ul li:hover::before {
transform: scale(1.2);
}





.services{
    min-height: auto; 
    padding: 8rem 7%;
    
    justify-items: center; /*centra horizontalmente cada box */
    align-items: center;   /*centra verticalmente */

}

.services h2{
    margin-bottom: 5rem;
}

.services .services-container{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
    
}

.services-container .services-box:last-child{
    grid-column: span 2;
    justify-self: center;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
    
}

.services-container .services-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);


}

.services-box i {
    font-size: 7rem;
    color : var(--main-color);
}

.services-box h3{
    font-size: 2.6rem;
    transition: .5s ease;

}
.services-box:hover h3{
    font-size: 2.6rem;


}



.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.services-box a{
    margin-left: 0%;
}


.portfolio{
    min-height: 100vh; 
    padding: 8rem 7% 12rem;
    
}

.portfolio{
    padding-bottom: 10rem;
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio .portfolio-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    height: 340px;
}

.portfolio-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    opacity: 1;
}

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;

}

.portfolio-layer a i{
    font-size: 2rem;
    color: #333;
}

.testimonial{
    min-height: auto; 
    padding: 8rem 7%;
    
}

.testimonial-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
    min-width: 92.6vh; 
}

.testimonial-container .testimonial-wrapper{
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.testimonial-wrapper .testimonial-box{
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;

}
.testimonial-container .testimonial-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem 5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);

    height: auto;
}

.testimonial-slide img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
}

.testimonial-slide h3{
    font-size: 2.4rem;
    margin: 2rem 0;
}

.testimonial-slide p{
    font-size: 1.6rem;
    text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev{
    color:var(--main-color);
}

.testimonial-box .swiper-button-next{
    right: 0;
}

.testimonial-box .swiper-button-prev{
    left: 0;
}


.testimonial-box .swiper-pagination-bullet{
    background: rgba(0, 0, 0, .8);
}

.testimonial-box .swiper-pagination-bullet-active{
    background: var(--main-color);
}

section + section {
  margin-top: 4rem; /* separa visualmente entre secciones */
}

