@charset "UTF-8";
/* --- Reseteo Básico --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

/* --- Variables (Se quedan igual) --- */
:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

html {
  font-size: 62.5%;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: 0.5s ease;
}
.header.sticky {
  background: var(--bg-color);
  box-shadow: 0 0.1rem 1rem var(--shadow-color);
}
.header.sticky .navbar a {
  color: var(--text-color);
}
.header.sticky .navbar a.active {
  color: var(--main-color);
}
.header.sticky .navbar a::before {
  background: var(--main-color);
  opacity: 0.7;
}
.header.sticky #darkMode-icon {
  color: var(--text-color);
  opacity: 0.9;
}

section {
  padding: 8rem 7%;
  min-height: 100vh;
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
  margin-right: auto;
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
  margin-right: 3.5rem;
}
.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: var(--white-color);
}

#darkMode-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
}

.home {
  margin-top: -134px;
  margin-bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem;
  min-height: 100vh;
  background: var(--bg-color);
  overflow: hidden;
}
.home .home-content {
  margin-bottom: -190px;
  max-width: 45rem;
  z-index: 10;
}
.home .home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.home .home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}
.home .home-content p {
  font-size: 1.6rem;
  line-height: 1.5;
}
.home .home-content .social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0.2 rem 0.5rem var(--main-color);
  font-size: 2rem;
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.home .home-content .social-media a:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.home .home-content .social-media div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.home .home-content .social-media p {
  right: 0;
  align-items: center;
  justify-content: center;
  margin-left: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
}
.home .profession-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 768px;
  height: 768px;
  overflow: hidden;
}
.home .profession-container .profession-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 768px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .profession-container .profession-box .profession {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(90deg * var(--i)));
  transform-origin: 384px;
  background: var(--bg-color);
  padding: 13px 0;
}
.home .profession-container .profession-box .profession:nth-child(1) i {
  margin-right: 15px;
}
.home .profession-container .profession-box .profession:nth-child(2), .home .profession-container .profession-box .profession:nth-child(4) {
  padding-bottom: 20px;
}
.home .profession-container .profession-box .profession i {
  font-size: 3.8rem;
}
.home .profession-container .profession-box .profession h3 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
}
.home .profession-container .profession-box .circle {
  width: 560px;
  height: 560px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
}
.home .profession-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 384px solid var(--main-color);
  border-right: 384px solid var(--main-color);
  border-bottom: 384px solid var(--main-color);
  border-left: 384px solid transparent;
}
.home .home-img img {
  position: absolute;
  bottom: 0;
  right: 30px;
  width: 55%;
  pointer-events: none;
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 1.7rem;
  border-radius: 0.9rem;
  box-shadow: 0 0.5rem 1rem var(--shadow-color);
  cursor: pointer;
  transition: 0.3s ease;
  border: 0.2rem solid transparent;
  font-weight: 700;
  margin-left: 2.2rem;
}
.btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

span {
  color: var(--main-color);
}

.heading {
  font-size: 4.5rem;
  text-align: center;
}

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  min-height: 100vh;
  padding: 8rem 7%;
  position: relative;
  overflow: hidden;
}
.about::after {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  width: 2px;
  background-color: var(--main-color);
  transform: translateX(-50%);
  opacity: 0.7;
}
.about .about-certifications,
.about .about-content {
  flex: 1;
  position: relative;
  z-index: 2;
  padding: 2rem;
}
.about .about-certifications h2,
.about .about-content h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}
.about .about-certifications h2 span,
.about .about-content h2 span {
  color: var(--main-color);
}
.about .about-certifications p,
.about .about-content p {
  font-size: 1.7rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 3rem;
}
.about .about-certifications ul,
.about .about-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 4rem;
}
.about .about-certifications ul li,
.about .about-content ul li {
  position: relative;
  font-size: 1.7rem;
  line-height: 1.6;
  color: #444;
  padding-left: 3.5rem;
  margin-bottom: 1.5rem;
  transition: 0.3s ease;
}
.about .about-certifications ul li::before,
.about .about-content ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: var(--main-color);
  font-size: 2rem;
  line-height: 1.6;
  transition: transform 0.3s ease;
}
.about .about-certifications ul li:hover,
.about .about-content ul li:hover {
  color: var(--main-color);
  transform: translateX(5px);
}
.about .about-certifications ul li:hover::before,
.about .about-content ul li:hover::before {
  transform: scale(1.2);
}

.services {
  min-height: auto;
  padding: 8rem 7%;
  justify-items: center;
  align-items: center;
}
.services h2 {
  margin-bottom: 5rem;
}
.services .services-container {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.services .services-container .services-box {
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  text-align: center;
  border-top: 0.6rem solid var(--main-color);
  border-bottom: 0.6rem solid var(--main-color);
  transition: 0.5s ease;
}
.services .services-container .services-box:hover {
  box-shadow: 0 0.1rem 2rem var(--shadow-color);
  transform: scale(1.02);
}
.services .services-container .services-box:last-child {
  grid-column: span 2;
  justify-self: center;
}
.services .services-container .services-box i {
  font-size: 7rem;
  color: var(--main-color);
}
.services .services-container .services-box h3 {
  font-size: 2.6rem;
  transition: 0.5s ease;
}
.services .services-container .services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
.services .services-container .services-box a {
  margin-left: 0%;
}

.portfolio {
  min-height: 100vh;
  padding: 8rem 7% 12rem;
  padding-bottom: 10rem;
}
.portfolio h2 {
  margin-bottom: 4rem;
}
.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.portfolio .portfolio-container .portfolio-box {
  position: relative;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 340px;
}
.portfolio .portfolio-container .portfolio-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  opacity: 0;
  transition: 0.5s ease;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer h4 {
  font-size: 3rem;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--white-color);
  border-radius: 50%;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer a i {
  font-size: 2rem;
  color: #333;
}
.portfolio .portfolio-container .portfolio-box:hover img {
  transform: scale(1.1);
}
.portfolio .portfolio-container .portfolio-box:hover .portfolio-layer {
  opacity: 1;
}

.testimonial {
  min-height: auto;
  padding: 8rem 7%;
}
.testimonial .testimonial-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem 1rem;
  min-width: 92.6vh;
}
.testimonial .testimonial-container .testimonial-wrapper {
  position: relative;
  max-width: 90rem;
  width: 100%;
  padding: 5rem;
}
.testimonial .testimonial-container .testimonial-wrapper .testimonial-box {
  padding: 1rem;
  border-radius: 2rem;
  overflow: scroll;
}
.testimonial .testimonial-container .testimonial-wrapper .testimonial-box .swiper-button-next,
.testimonial .testimonial-container .testimonial-wrapper .testimonial-box .swiper-button-prev {
  color: var(--main-color);
}
.testimonial .testimonial-container .testimonial-wrapper .testimonial-box .swiper-button-next {
  right: 0;
}
.testimonial .testimonial-container .testimonial-wrapper .testimonial-box .swiper-button-prev {
  left: 0;
}
.testimonial .testimonial-container .testimonial-wrapper .testimonial-box .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.8);
}
.testimonial .testimonial-container .testimonial-wrapper .testimonial-box .swiper-pagination-bullet-active {
  background: var(--main-color);
}
.testimonial .testimonial-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  text-align: center;
  border-top: 0.6rem solid var(--main-color);
  border-bottom: 0.6rem solid var(--main-color);
  transition: 0.5s ease;
  padding: 3rem 5rem;
  height: auto;
}
.testimonial .testimonial-slide img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.5rem solid var(--bg-color);
  outline: 0.5rem solid var(--main-color);
}
.testimonial .testimonial-slide h3 {
  font-size: 2.4rem;
  margin: 2rem 0;
}
.testimonial .testimonial-slide p {
  font-size: 1.6rem;
  text-align: center;
}

section + section {
  margin-top: 4rem;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

@media (max-width: 992px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 8rem 3%;
  }
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%; /* Debajo del header */
    left: -100%; /* Oculto fuera de la pantalla */
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid var(--shadow-color);
    box-shadow: 0 0.5rem 1rem var(--shadow-color);
    transition: 0.3s ease;
  }
  .navbar.active {
    left: 0;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }
  .navbar a.active {
    color: var(--main-color);
  }
  .navbar a::before {
    display: none;
  }
  .navbar a::before .home {
    padding: 10rem 3%;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 0;
  }
  .navbar a::before .home .home-content {
    max-width: 100%;
    margin-bottom: 3rem;
  }
  .navbar a::before .home-content h1 {
    font-size: 4.8rem;
  }
  .navbar a::before .home-content h3 {
    font-size: 2.8rem;
  }
  .navbar a::before .home-content .social-media div {
    justify-content: center;
  }
  .navbar a::before .home .profession-container,
  .navbar a::before .home-img img {
    display: none;
  }
  .navbar a::before .about {
    flex-direction: column;
    gap: 3rem;
  }
  .navbar a::before .about::after {
    display: none;
  }
  .navbar a::before .services h2 {
    margin-bottom: 3rem;
  }
  .navbar a::before .services .services-container {
    grid-template-columns: 1fr;
  }
  .navbar a::before .services-container .services-box:last-child {
    grid-column: span 1;
    justify-self: auto;
  }
  .navbar a::before {
    /* --- Sección Portfolio (1 Columna) --- */
  }
  .navbar a::before .portfolio .portfolio-container {
    grid-template-columns: 1fr;
  }
  .navbar a::before {
    /* --- Sección Testimonial --- */
  }
  .navbar a::before .testimonial-container {
    min-width: 100%;
  }
  .navbar a::before .testimonial-container .testimonial-wrapper {
    padding: 3rem 1rem;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .home {
    padding-top: 15rem;
  }
  .home-content h1 {
    font-size: 4.2rem;
  }
  .home-content h3 {
    font-size: 2.4rem;
  }
  .btn {
    margin-left: 0;
  }
  .about-content h2,
  .about-certifications h2 {
    font-size: 3.2rem;
  }
}
@media (max-width: 992px) and (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home {
    padding-top: 10rem;
  }
  .home-content h1 {
    font-size: 3.8rem;
  }
  .heading {
    font-size: 3.8rem;
  }
  .about-content h2,
  .about-certifications h2 {
    font-size: 3rem;
  }
  .portfolio-box .portfolio-layer {
    padding: 0 2rem;
  }
  .testimonial-wrapper .testimonial-box {
    padding: 0;
  }
  .testimonial-container .testimonial-slide {
    padding: 2rem 3rem;
  }
}
@media (max-width: 992px) and (max-width: 365px) {
  .home-content .social-media div {
    flex-wrap: wrap; /* Permite que los elementos salten de línea */
    gap: 1rem;
  }
  .home-content .social-media a {
    margin: 0; /*Quitamos márgenes */
  }
  .home-content .social-media p {
    width: 100%; /*Hacemos que el texto ocupe todo el ancho */
    text-align: center;
    margin: 1rem 0 0 0;
  }
}

/*# sourceMappingURL=styles.css.map */
